.menu ul li {
    font-weight: bold;
  }

  .opcoes {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 10%;
  }
  
  .opcoes img {
    align-items: center;
    margin: 20px;
    border-radius: 10%;
  }
  
  .opcoes a {
    font-size: 20px;
    margin-bottom: 10px;
    width: 140px;
  }
  
  .btn {
    font-size: 20px;
    line-height: 0px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    transition: all 0.5s ease;
  }
  
  @media screen and (max-width: 500px) {
    .opcoes {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 17vh;
      display: inline-block;
    }

    .opcoes img {
      margin-top: 5vh;
      margin-left: auto;
    } 

    .opcoes button {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
    }

    .fim img {
      width:10vw;
    }
  }