#descricao {
    margin-top: 9%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.212);
}

h5 {
    text-align: center;
    margin-left: 4.5%;
}

input[type=text], input[type=file], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    }
    
    input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    }
    
    input[type=submit]:hover {
    background-color: #45a049;
    }
    
    .dados {
    padding: 20px;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #ffffff42;
    }