.card {
    margin-top: 25%;
}

.table {
    margin-top: 11%;
    background-color: rgba(255, 255, 255, 0.466);
    text-align: center;
}

td {
    vertical-align: middle;
}


footer {
    margin-top: 1%
}

@media screen and (max-width: 500px) {

    .table {
      margin-top: 50%;
      vertical-align: middle;
    }

    .table th {
        vertical-align: middle;
    }
    
    .fim img {
      width:10vw;
    }
}